<div class="banner-home mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 banner-content">
        <h1 style="font-size: 32px;">Vos projets sur mesures avec un travail d'artisan</h1>
        <p class="text-justify mt-3">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam accusantium similique consequuntur laboriosam, esse perspiciatis culpa velit excepturi sed mollitia accusamus minima, explicabo eos saepe ratione, voluptate nisi nulla cum.</p>
        <div class="text-right mt-4">
          <%= link_to "Devis gratuit", new_contact_path, class: "btn-home" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row mb-5 pt-4 mr-4 ml-4 align-top slide-in">
    <div class="col-md-3 business-spec">
      <%= image_tag ("https://res.cloudinary.com/dkrtmft3y/image/upload/v1588681048/001-steel_fwase1.png"), class: "img-responsive mb-3"%>
      <h2>Conception<br>artisanale</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="col-md-3 business-spec">
      <%= image_tag ("https://res.cloudinary.com/dkrtmft3y/image/upload/v1588681066/004-ruler_sklv1q.png"), class: "img-responsive mb-3"%>
      <h2>Réalisation<br>sur mesure</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="col-md-3 business-spec">
      <%= image_tag ("https://res.cloudinary.com/dkrtmft3y/image/upload/v1588681051/002-crown_srkzvj.png"), class: "img-responsive mb-3"%>
      <h2>Service<br>de qualité</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
    <div class="col-md-3 business-spec">
      <%= image_tag ("https://res.cloudinary.com/dkrtmft3y/image/upload/v1588681068/003-help_wiledz.png"), class: "img-responsive mb-3"%>
      <h2>Conseils<br>personnalisés</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
    </div>
  </div>
</div>
<hr id="artisan" class="mb-5">
<div class="container artisan-presentation align-top slide-in">
  <div class="row mb-5 pt-4 pb-4 mr-3 ml-3">
    <div class="col-md-6 col-sm-12 presentation">
      <h2 class="mb-3">L'artisan, du dessin à la conception</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit at corrupti iusto amet quam doloremque ipsam illo, quo dolore quidem culpa qui. Distinctio iusto magnam eos velit dolor. Odit, reprehenderit.</p>
      <%= image_tag ("https://res.cloudinary.com/dkrtmft3y/image/upload/v1588681058/logo-artisan_pef0jm.png"), class: "img-responsive mb-3 mt-3"%>
    </div>
    <div class="col-md-6 col-sm-12">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag ("https://images.unsplash.com/photo-1531220674280-b18cf8650cf3?ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80"), class: "parallax d-block w-100"%>
          </div>
          <div class="carousel-item">
            <%= image_tag ("https://images.unsplash.com/photo-1533369257659-6132475f793c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=654&q=80"), class: "parallax d-block w-100"%>
          </div>
          <div class="carousel-item">
            <%= image_tag ("https://images.unsplash.com/photo-1521493580600-41dedc446def?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=675&q=80"), class: "parallax d-block w-100"%>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<hr class="mb-5">
<div class="container-fluid pr-5 pl-5 text-center align-top slide-in">
  <h2>Mes Réalisations</h2>
  <div class="mt-5">
    <div class="categorie-cards">
    <% @categories.each do |categorie| %>
    <%= link_to category_path(categorie) do %>
      <div class="card" style="background-image: url('<%= cl_image_path categorie.photo.key, crop: :fit%>')">
        <div class="overlay">
          <div class = "items head ml-3">
            <p><%= categorie.titre %></p>
            <hr>
          </div>
          <div class="mt-5"></div>
        </div>
      </div>
      <% end %>
    <% end %>
    </div>
  </div>
</div>

