<div class="container-fluid p-5">
  <div class="row pt-5 pr-5 pl-5 pb-2">
    <div class="real-specs">
      <div class="col-md-12 specs pr-5 pl-5">
        <h1 class="mb-3"><%= @realisation.titre %></h1>
        <h2><%= @realisation.lieu %></h2>
        <p><%= @realisation.description %></p>
      </div>
      <%= image_tag ("https://res.cloudinary.com/dkrtmft3y/image/upload/v1588681058/logo-artisan_pef0jm.png"), class: "img-responsive mr-4"%>
    </div>
  </div>
  <hr class="mb-5 mt-5">
  <div class="row p-5">
    <div class="col-md-12">
      <div class="carousel js-flickity">
        <% @pictures = @realisation.pictures %>
        <% @pictures.each do |picture| %>
        <div class="carousel-cell">
          <%= cl_image_tag picture.photo.key, crop: :fill, class: "img-responsive" %>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
