<h1>Bonjour Valentin,</h1>
<h2>Vous avez un message de <strong><%= @contact.prenom %></strong> <strong><%= @contact.nom %></strong></h2>
<p><strong>Email :</strong> <%= @contact.email %></p>
<p><strong>Téléphone :</strong> <%= @contact.telephone %></p>
<p><strong>Objet :</strong> <%= @contact.objet %></p>
<p><strong>Message :</strong> <%= @contact.description %></p>
