<div class="banner-categorie mb-5">
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 offset-1 text-center p-4 mb-5 categorie-description">
      <h1><%= @categorie.titre %></h1>
      <p><%= @categorie.description %></p>
      <%= image_tag ("/assets/logo-artisan.png"), class: "img-responsive mb-1 mt-2"%>
    </div>
</div>
<hr class="mb-5">
<div class="container-fluid">
  <% @realisations.each do |realisation| %>
    <div class="row p-5">
      <% if realisation.id.to_i % 2 == 0 %>
      <div class="col-md-12 realisation-card align-right slide-in">
        <div class="realisation-description text-center p-5">
          <h2><%= realisation.titre %></h2>
          <h3><%= realisation.lieu %></h3>
          <p><%= realisation.description %></p>
          <%= link_to "Voir galerie", realisation_path(realisation), class: "btn-home" %>
        </div>
        <div class="realisation-image">
          <%= image_tag ("https://images.unsplash.com/photo-1550078882-40713cd1a12f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80")%>
        </div>
      </div>
      <% else %>
      <div class="col-md-12 realisation-card align-left slide-in">
        <div class="realisation-image">
          <%= image_tag ("https://images.unsplash.com/photo-1550078882-40713cd1a12f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1069&q=80")%>
        </div>
        <div class="realisation-description text-center p-5">
          <h2><%= realisation.titre %></h2>
          <h3><%= realisation.lieu %></h3>
          <p><%= realisation.description %></p>
          <%= link_to "Voir galerie", realisation_path(realisation), class: "btn-home" %>
        </div>
      <% end %>
      </div>
    </div>
  <% end %>
</div>
