<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>TODO</title>
    <meta property="og:title" content="Valentin Guiol Ferronnerie et Création" />
    <meta property="og:description" content="Valentin Guiol Ferronnerie et Création, ferronnerie d'art en Provence, conception artisanale sur mesure" />
    <meta property="og:url" content="https://www.vgferronneriecreation.com/" />
    <meta property="og:type" content="Site web" />
    <meta property="og:image" content="./app/assets/images/favicon.ico" />
    <%= favicon_link_tag 'favicon-32x32.png' %>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
  </head>
  <body>
    <%= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <%= yield %>
    <%= render 'shared/footer' %>
    <%= javascript_include_tag 'application' %>

    <%= javascript_pack_tag 'application' %>
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
  </body>
</html>
